extends layout
block css
    link(rel='stylesheet', href='/styles/editFilters.css')

block header
    div#headerStats
      div
        strong Редактирование фильтра:&nbsp
          span= filter._id
      div Количество исключаемых компьютеров:&nbsp
        span= filter.registeredComputers.length
      div Количество исключаемых доменов:&nbsp
        span= filter.whiteDomains.length

block content
    form(id="editList" action="/saveFilter" method="POST")
    form(id="deleteList" action="/deleteFilter" method="POST")

    div
      span Сохранить список как:&nbsp
      input(form="editList" name="filterName" value=filter._id required autofocus placeholder="Название фильтра без пробелов" size="30" pattern="[a-zA-Zа-яА-Я0-9_-]+")
      button(form="editList" type="submit")
        img(src="/images/save.png")
        | &nbspСохранить список
      button(form="editList" type="reset")
        img(src="/images/undo.png")
        | &nbspОтменить изменения
      a(href="/app")
        button
         img(src="/images/home-small.png")
         | &nbspПерейти на главную страницу
      input(form="deleteList" type="hidden" name="filterName" value=filter._id)
      button(form="deleteList" type="submit")
        img(src="/images/delete.png")
        | &nbspУдалить список

    div
        if filter.excludeChrome
            input(form="editList" type="checkbox" checked name="excludeChrome")
        else
            input(form="editList" type="checkbox" name="excludeChrome")
        | Исключить из отчёта обращения Google Chrome для проверки Omnibox.&nbsp
        | Исключение производится по регулярному выражению&nbsp
        code /^[a-z]{10}$/
    div
        if filter.excludePrinters
            input(form="editList" type="checkbox" checked name="excludePrinters")
        else
            input(form="editList" type="checkbox" name="excludePrinters")
        | Исключить из отчёта обращения к принтерам (npia4becb, npi8c4c64 и т.п.).&nbsp
        | Исключение производится по регулярному выражению&nbsp
        code /^npi[0-9a-z_]{5,8}$/
    div
        if filter.excludeXerox
            input(form="editList" type="checkbox" checked name="excludeXerox")
        else
            input(form="editList" type="checkbox" name="excludeXerox")
        | Исключить из отчёта обращения к копирам (xrx9eaf47, xrx95f432 и т.п.).&nbsp
        | Исключение производится по регулярному выражению&nbsp
        code /^xrx[0-9a-z_]{5,12}$/

    div.list
      div
       strong Имена компьютеров (без dns суффикса), зарегистрированных в DNS:
      textarea(form="editList" autofocus rows="28" cols="60" name="registeredComputers")
        if filter&&filter.registeredComputers
          - each host in filter.registeredComputers
            = host
            | &#13&#10;
    div.list
      div
        strong Список доменов второго уровня, которые исключаются из отчёта:
      textarea(form="editList" autofocus rows="28" cols="60" name="whiteDomains")
        if filter&&filter.whiteDomains
          - each host in filter.whiteDomains
            = host
            | &#13&#10;

    div#note
      i Имена компьютеров, содержащие пробелы, будут пропущены при сохранении.

//- vim:shiftwidth=4:expandtab:number:list:autoindent
