extends layout
block css
  link(rel='stylesheet', href='/styles/viewQueries.css')
block scripts
  script(src="/scripts/formatNumber.js")

block header
  div#headerStats
    strong Отчёт о DNS запросах, отфильтрованных по списку&nbsp
      a(href="/editFilters/" + queriesReport.filterName)
        =queriesReport.filterName
    div На основе анализа записей c&nbsp
      span= queriesReport.minDate.toLocaleString()
      | &nbspпо&nbsp
      span= queriesReport.maxDate.toLocaleString()
    div Количество ip адресов в отчёте:&nbsp
      span= queriesReport.hosts.length
      | .&nbspДата создания отчёта:&nbsp
      = queriesReport.created.toLocaleString()
      | .

block content
  div.info
    div У записей удалён DNS-суффикс domain.ru.
    div Для открытия подробной статистики обращений к DNS, щёлкните по записям в ячейках.

  if (queriesReport.hosts && queriesReport.hosts.length)
    table#records
      colgroup
        col.ipCol
        col.numsCol
      tbody
        tr
          th IP адрес источника
          th Общее количество запросов
          th Запросы DNS
        each record in queriesReport.hosts
          tr
            td
              div.link
                a(href="/search/srcip/" + record._id)= record._id
              td= record.queries
              td
                table
                  each val in record.rrnames
                    div.link
                      a(href="/search/rrname/" + val)= val
  else
    p Отчёт пуст.
    p Отредактируйте списки исключений и запустите фильтрацию заново.
    form(action="/editFilters" method="POST")
      input(type="hidden" name="filterName" value=queriesReport.filterName)
      button(type="submit")
        | Отредактировать список&nbsp
        = queriesReport.filterName
